html, body
{
    height: 100%
}

body
{
    margin: 0;
    overflow: hidden;
    background-color: rgb(64,32,0);
}

#info
{
    font-family: 'Alegreya';
    font-size: 48px;
    color: white;
    -webkit-text-stroke: 2px black;

    position: fixed;
    right: 20px;
    bottom: 20px;
}

#map
{
    cursor: move;
    background-image: url(img/map-player.jpg);
    background-size: cover;
    width: 5042px;
    height: 7562px;

    position: fixed;
}
